.back3{
    background-image: url('Km.png');
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: top center;
}
.back2{
    background-image: url('Tm.png');
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: top center;
}
.back1{
    background-image: url('Bm.png');
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: top center;
}
.back{
    background-image: url('Hm.png');
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: top center;
    
    
    
}
.hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 0;
}

img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: top center;
}
.hero-text{
        position: absolute;
        top: 2vh;
        left: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vh;
        height: 100vh;
        
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero-text p{
    font-size: 1rem;
   
    color: white;
    padding: 1rem 0 2rem 0;

}
.hero-text .show{
    text-decoration: none;
    background-color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
background: var(--primary-color, #8D5CF6);

}
@media screen and (max-width:900px){
    .hero-text{
        position: absolute;
        top: 2vh;
        left: 14vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vh;
        height: 100vh;
}
    

}

@media screen and (max-width:900px){
    .hero-text{
        position: absolute;
        top: 2vh;
        left: 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vh;
        height: 100vh;
}
    

}

@media screen and (max-width:700px){
    .hero-text{
        position: absolute;
        top: 2vh;
        left: -20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vh;
        height: 100vh;
}
.hero-text h1{
    font-size: 2.5rem;
    

}

.hero-text .show{
    text-decoration: none;
    background-color: #fff;
    padding: 10px 35px;
    border-radius: 5px;
background: var(--primary-color, #8D5CF6);

}
    

}
